$blue: #D1F6FC;
$textblue: #03c7e6bb;

@mixin card{
    width: 25vw;
    height: 25vw;
    padding: 10px 10px 20px 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
  }

  

  @mixin caption {
    margin-block-start: 5px;
    margin-block-end: 0px;
    font-family: 'Parisienne', ;
    text-align: center;
    font-size: 2.6vw;
    }


    @mixin  rotate_right5deg{
        float: left;
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg); 
        transform: rotate(-5deg);
        
        background-color: white;
        
    }

    @mixin rotate_left8deg {
        float: left;
        -ms-transform: rotate(8deg); 
        -webkit-transform: rotate(8deg); 
        transform: rotate(8deg);
        background-color: white;
        
    }

    @mixin rotate_left12deg {
        float: left;
        -ms-transform: rotate(12deg); 
        -webkit-transform: rotate(12deg); 
        transform: rotate(12deg);
        background-color: white;
        
    }


    @mixin rotate_left15deg {
        float: left;
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg); 
        transform: rotate(15deg);
        margin-top: 50px;}

    @mixin cardImage{
        border: solid 1px rgba(128, 128, 128, 0.089);
        width: 25vw;
        height: 20vw;
    }

    @mixin flexcard {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    @mixin ptext {
        color: rgb(0, 0, 0);
        font-size: 2vw;
        padding: 3vw;
    }    
  
    
    @mixin cardheadline {
        font-size: 5vw;
        font-family: 'Changa',;
        color: $textblue;
        margin-block-start: 5vw;
        margin-block-end: 0vw;
        line-height: 0vw;
        padding: 0 3vw;
    }   




body{
    margin: 0;
    padding: 0;
    background-color: #474546;
    overflow-x: hidden;
    width: 100vw;
    
    .sectionMobile{
        display: none;
    }
    
}
    



  
.bodyContainer{
    display: flex;
    flex-direction: column;
    background-color: $blue;
    height: 63vw;
    width: 100vw;
    margin-top: 40%;
}

.leftImageCard {
    width: 60vw;   
}




.card { @include card;}
.bodyContainerFlexCard{
    @include flexcard;
    margin-top: 20vw;
    

    

.caption{ @include caption;}}
  
  .rotate_right { @include rotate_right5deg;
    margin-left: 10vw;
    margin-top: -5vw;
}
  
  .rotate_left { @include rotate_left8deg;
    margin-left: -25vw;
    margin-top: 17vw;
    

    
    .cardImage{ @include cardImage;
    
  }
}


.rightTextCard{
    float: right;
    background-color: white;
    width: 60vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border-radius: 20px 0 0 20px;
    padding: 2vw;
    box-shadow: 5px 5px 5px #08010134;
    height: 22vw;
    animation: P2;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
    animation-direction: reverse;
    position: relative;  



    h2{@include cardheadline; }

    p{@include ptext;
   
    }

    .button{
        margin-top: -3.5vw;
        margin-left: 13vw;
    }

    
    
}

.cardImageImage{
    width: 40vw;
    height: 25vw;
    @include cardImage;
    

  
}
      


    .bodyContainer2{

        display: flex;
        flex-direction: column;
        height: 20vw;
        width: 100vw;
        margin-top: 20vw;
        margin-bottom: 10vw;
        background-color: $blue;
        box-shadow: 5px 5px 5px #08010134;
        
        
        .bodyContainerFlexCard2{
            height: 20vw;
            width: 90vw;
            margin-left: 5vw;
            display: flex;
            flex-direction: row;
            
            

                .SEOText{
                    margin-top: -5vw;
                
                    h2{
                        color: white;
                        margin: auto;
                        margin-left: -28vw;
                        margin-top: 10vw;
                        font-size: 9.5vw;
                        font-family: 'Changa',;
                        line-height: 3vw;
                        text-shadow: 5px 5px 5px #08010134;
                    }
                    h3{
                        color: black;
                        font-size: 3vw;
                        margin-bottom: 3vw;
                        margin-left: -28vw;
                    }

                   
    
    }
    

    .leftImageCard{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 2vw;
        
       
        
        .card { @include card;
       
        }

            
        
        
        
        .rotate_left{ @include rotate_left15deg;
            margin-top: -8vw;

            .cardImageImage{
                width: 30vw;
                @include cardImage;
                }

                
            .caption{ @include caption;
          
                }

    
            }
        }
    }
}

    .button h4{
        margin-top: 0.5vw;
    }

    .bodyContainer3{
        background-image: url(../img/gruppeSnakkerSammenLilleBlur.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: saturation;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 100vw;
        padding-bottom: 40vw;
    
        
        
        

        
        
        .bodyContainerFlexCard2{
            @include flexcard;
            margin-top: -10vw;
    
            
        
      
        .card { @include card;
           
            
        
        .caption{ @include caption;}}
        
        .rotate_left { @include rotate_right5deg;
        margin-top: 15vw;
        margin-left: 7vw;}
        
        
        .rotate_right { @include rotate_left15deg;
            margin-left: 6vw;
            margin-top: -10vw;
            
            .cardImage{ @include cardImage;
        
            }
            
        
        
        
        }
        
        }
    

   

    .leftTextCard{
        float: left;
        background-color: white;
        width: 50vw;
        margin-top: 15vw;
        margin-bottom: 5vw;
        border-radius: 0 20px 20px 0;
        padding: 2vw;
        box-shadow: 5px 5px 5px #08010134;
         
    

    
        h2{@include cardheadline; }

        p{@include ptext;

            
               
    }
   
    
    }
}


.bodyContainer4{
    margin-top: -35vw;
    background: linear-gradient(-3deg, $blue 60%, #ffed4b00 61%);
    width: 100vw;
    height: 60vw;
    display: flex;
    flex-direction: row;
    .imageOfMe{
        height: 60vw;
    }

    .rightTextCard{
        margin-top: 25vw;
        margin-left: -8vw;
        .button{
            margin-top: -1vw;
        }
        
    }

}

.bodyContainer5{
    height: 115vw;
    width: 100vw;
    background-image: url(../img/projektbillde.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    .halfBackground{
        background: linear-gradient(130deg, #fdcc3b00 60%, $blue 60.3%);
        width: 100vw;
        z-index: 2;
        position: relative;
        height: 110vw;
        float: right;

        .verticalFlex{
            .bodyContainer5Headline1{
                margin: auto;
                color: white;
                font-size: 11.5vw;
                font-family: "Changa";
                line-height: 10vw;
                padding: 10vw;
                padding-bottom: 1vw;
            }
            .bodyContainer5Headline2{
                color: $blue;
                padding: 10vw;
                padding: 0vw 0vw 1vw 10vw;
                font-size: 7.5vw;
                font-family: "Changa";
                margin: 0vw;
            }
            .bodyContainer5ParagrafA{
                color: white;
                padding: 0vw 0vw 1vw 10vw;
                line-height: 0vw;
                font-size: 2vw;
            }

            .bodyContainer5ParagrafB{
                color: white;
                padding: 3vw 0vw 1vw 10vw;
                line-height: 0vw;
                font-size: 2vw;
            }

            .bodyContainer5ParagrafC{
                color: white;
                padding: 0vw 0vw 1vw 10vw;
                line-height: 0vw;
                font-size: 2vw;
            }
            .button{
               margin-top: 3vw;
               margin-left: 13vw;
            }
            
        }    
        

        .horosontalFlex{
            display: flex;
            flex-direction: row;
            z-index:99;
            margin-top: -10vw;
            
            .leftFlexboxTextCard{
                width: 50vw;
                float: left;
                background-color: white;
                width: 50vw;
                margin-top: 15vw;
                margin-bottom: 5vw;
                border-radius: 0 20px 20px 0;
                padding: 2vw;
                box-shadow: 5px 5px 5px #08010134;
              

       

                

                h2{@include cardheadline; }

                p{@include ptext;
                   
                    
                
            
        
        
    }
   
    }
            .rigthFlexImageCardTrible{
                height: 50vw;
                width: 50vw;
                margin-left: 5vw;
                    @include flexcard;
                    margin-top: -10vw;
            
                    
                
              
                .card { @include card;
                    
                
                .caption{ @include caption;}}
                
                .rotate_left { @include rotate_right5deg;
                margin-top: 15vw;
                margin-left: 7vw;}

                
                
                
                .rotate_right { @include rotate_left15deg;
                    margin-left: 10vw;
                    margin-top: -15vw;
                    -ms-transform: rotate(15deg);
                    -webkit-transform: rotate(15deg); 
                    transform: rotate(15deg);
                    

                   
                    .cardImage{ @include cardImage;
                
                    }
                    
                
                
                
                }
                .rotate_right_botton{
                    margin-top: -18vw;
                    float: left;
                    -ms-transform: rotate(2deg);
                    -webkit-transform: rotate(2deg); 
                    transform: rotate(2deg);
                    z-index: 99;
                    
                    
                

                    .cardImage{ @include cardImage;
                        
                        .caption{ 
                            @include caption;
                            margin-block-start: 2px;
                            margin-block-end: 0px
                        }
                
                    }

                    }
                
            }
    
    }

    }


}

.bodyContainer6{
    background-color: $blue;
    height: 40vw;
    z-index: 1000;
    margin-top: -20vw;
    padding-top: 2vw;
    margin-bottom: 13vw;
}


.bodyContainer7{
    background-color: $blue;
    height: 55vw;
    z-index: 1000;
    margin-top: -1vw;
    margin-bottom: -1vw;
    width: 100vw;
    @include flexcard;
    
.bodyContainerFlexCard{
    margin-top: -30vw;
    

}    

    

.card { @include card;
    
    

.caption{ @include caption;}}
  
  .rotate_right { 
    margin-left: 12vw;
    transform: rotate(9deg);
    -ms-transform: rotate(-9deg);
    -webkit-transform: rotate(9deg);
    margin-top:-2VW ;}
  
  .rotate_left { 
    margin-left: 10vw;
    margin-top: 13vw;
    position: absolute;
    transform: rotate(-29deg);
    -ms-transform: rotate(-29deg);
    -webkit-transform: rotate(-29deg);

    
    .cardImage{ @include cardImage;
    } 
  }

  .rightTextCard{
      width: 50VW;
      height: 36vw;
      padding-right: 0vw;
      position: absolute;
      left: 48vw;
    

      
     .button{
         margin-top: 11vw;
     } 
        
    

  }
}

.bodyContainer8{
    margin: auto;
    margin-top: 15vw;
    color: white;
    font-size: 5.5vw;
    font-family: 'Changa',;
    display: flex;
    flex-direction: column;
    -webkit-margin-before: none;
    margin-block-start:none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;
    font-weight: bold;
    position: absolute;
    z-index: 1000;
    width: 100vw;

    h2{
        margin: auto;
        text-shadow: 5px 5px 5px #08010134;
        margin-bottom: -8vw;
    }

    .Empathy{
        background-color: $blue;
        padding: 2vw;
        border-radius: 1vw;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
        
    
    }

    .horizontalFlex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        width: 100vw;
        background: rgb(170, 224, 233);
        border-radius: 4px;
        color: rgba(0,0,0, .8);
        text-shadow: 0 1px 0 #fff;
        margin: 60px auto;
     
        
          }
        
          .horizontalFlex::before,
          .horizontalFlex::after {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 15px;
            left: 10px;
            width: 50%;
            top: 80%;
            max-width:300px;
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
            transform: rotate(-3deg);
          }
        
          .horizontalFlex::after {
            transform: rotate(3deg);
            right: 10px;
            left: auto;
          
  
        
        
    }

    .designthinkingIcon{
        width: 10vw;
        height: 10vw;
       }

    .Box{
        font-size: 2vw;
        color: black;
        margin: auto;
        h4{
            margin: auto;
            text-align: center;
        }
    }
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    left: 0vw;
    top: 0;
    height: 100vw;
    overflow: hidden;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  
  .modal-content {
    overflow: hidden; 
    background-color: #fefefe; 
    margin: 4vw;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 2vw;
  }
  
  
  .close {
    color: black;
    float: right;
    font-size: 5vw;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: $blue;
    color: white;
    height: 7vw;
    overflow: hidden; 
    h2{
        text-shadow: 5px 5px 5px #08010134;
        color: white;
        text-align: center;
        font-size: 5vw;
        margin: 0px;
    }
  }
  
  .modal-body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
        .leftFlexModal{
            width: 50vw;
            height: 30vw;
               .imageAboutMe{
                width: 30vw;
                height: auto;
            }}
            .rightFlexModal{
                height: 30vw;
                overflow: scroll;
                padding: 2vw;
                box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
                h2{
                    font-size: 5vw;
                    margin: 0;
                }
                p{
                    font-size: 1.5vw;
                    height: 60vw;
                    margin: 2vw 0 0 0;
                }
            }}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: $blue;
    color: $textblue;
    h3{
        text-shadow: 5px 5px 5px #0801013a;
        color: black;
        text-align: center;
    }
  }


  

  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }


            
@media only screen and (max-width: 600px) {
    
body{
    background-color: $blue;
    width: 100vw;
    overflow-x: hidden;
    

    .bodyContainer, .bodyContainer2, .bodyContainer3, .bodyContainer4, .bodyContainer5, .bodyContainer6, .bodyContainer7, .bodyContainer8, footer{ 
        display: none;
    }

    
header{  
    position: fixed; 
    .container_header_flex{
            .container_header_flex_inner_Box{
                width: 100vw;
                height: 20vw;
                margin-top: -5vw;
                .profilBillede{
                    display: none;
                }

                .profilBilledebund{
                    width: 40vw;
                }

                h1{
                    font-size: 25vw;
                    margin-top: none;
                    text-align: center;
                    margin-bottom: 5vw;
                }

                h2{
                    font-size: 8vw;
                    margin-bottom: 2vw;
                }

                h3{
                    font-size: 3vw;
                }

                .button{
                    display: none;
                }
            }

        }
    }

    .sectionMobile{
        display: block;
        margin-top:50vw;
        position: absolute;
        z-index: 1000;
        
        .sectionHeader{
            background-color: rgb(179, 210, 214);
            margin-top: -5vw;
            border-radius:25px 25px 0 0 ;
            box-shadow : 0 -5px 5px -5px #333 ;
            color: white;
            text-align: center;
            z-index: 1000;
            position: relative;
            h2{
                margin-top: 0vw;
                margin-bottom: 0px;
                padding: 5vw 0 5vw 0;
                text-shadow: 5px 5px 5px #08010134;
                font-size: 15vw;
                font-family: 'Changa',;
                line-height: 7vw;

            }
        }

        .sectionImage{
            .Images{
                width: 100vw;
                margin-top: 0px;
            }
        }

        .sectionText{
            background-color: white;
            margin-top: -6vw;
            margin-bottom: -5VW;
            
            h3{
                font-family: 'Permanent Marker';
                padding: 5vw 0 0 5vw;
            }

            p{
                padding: 0 0 15vw 5vw;   
            }
        }

        .sectionImagebottom{
            width: 100vw;
            margin-bottom: -4vw;
            z-index: -2;
            .Imagesbehinde{
                width: 100vw;
            }
        }


        .button{
            width: 30vw;
            height: 10vw;
            margin-top: -185vw;
            margin-left: 35vw;
            h4{
                font-size: 4.5vw;
            }   
        }

        .button2{
            width: 30vw;
            height: 10vw;
            margin-top: -5vw;
            margin-left: 35vw;
            background-image: linear-gradient(#006879, #00343D);
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 2vw;
            cursor: pointer;
            border-radius: 80vw;
            font-family: 'Changa',;
            vertical-align: middle;
            box-shadow: 5px 5px 5px #08010134;
            h4{
                font-size: 4.5vw;
                line-height: 1vw;
                margin-top: 5vw;
            }   
        }
        
    }

   
}

}

@keyframes anim {
    from {
        left: -100px;
    }
    to {
        left: 0px;
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.anim{
    opacity: 0;
}


